body {
  background: #d6f0d0;
  color: #243010;
  font-family: "Karma", serif;
  padding-top: 1rem;

}



.page-wrapper {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}


.character {
  position: absolute; 
  width: 100px; 
  height: 100px;
  background-image: url(spaceship.svg);
  
}